# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
*.swo
*.swp

# result files
results*

# other files
*.mat
*.tar
*.bin
